---
import Layout from "../layouts/Layout.astro";
import BoutonCirculaire from "../components/boutons/BoutonCirculaire.astro";
import BoutonConfigurateur from "../components/boutons/BoutonConfigurateur.astro";
import MainBouton from "../components/boutons/MainBouton.astro";
---

<Layout title="TaVue - Lunettes personnalisées françaises">
	<main>
		
		<BoutonCirculaire icone="compte" />
		<BoutonConfigurateur variant="outline" texte="Monture" />
		<MainBouton texte="Ajouter au panier" variant="primary" />
	</main>
</Layout>
